<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <link rel="shortcut icon" href="#" type="image/x-icon">
  <title>Messages | WebSocket App</title>
</head>
<body>
  <div class="container">
    <header>
      <h1 class="title-text">Let's build a WebSocket Connection! <span id="closeSocket" title="Close WebSocket Connection">&#128520</span></h1>
    </header>
    <main class="flex">
      <div id="messages" class="messages"></div>
      <form action="../server.js" method="post" id="form">
        <input title="Hit Enter/Return To Send Message" type="text" name="Message" placeholder="Type in your message..." class="text-box" id="message">
        <button title="Send Message" type="submit" class="submit-btn" id="submit">
          &#128169
        </button>
      </form>
    </main>
  </div>
  <script src="./client.js" defer></script>
  <noscript>Please enable JavaScript!</noscript>
</body>
</html>